############################
# OS / General
############################
.DS_Store
Thumbs.db
requirements.md

############################
# IntelliJ
############################
.idea/
*.iml

############################
# Logs
############################
*.log

############################
# Environment Files
############################
.env

############################
# Backend (Spring Boot / Maven)
############################
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/src/main/resources/application.properties

############################
# Java
############################
*.class

############################
# Node / Frontend
############################
frontend/node_modules/
frontend/dist/
frontend/import_frontend/

############################
# Claude
############################
CLAUDE.md

############################
# Build Files
############################
build/
dist/

